@model ProgrammersBlog.Mvc.Models.IndexViewModel
<!-- start banner Area -->
@*<section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-9 col-md-12">
                    <h1 class="text-uppercase">
                        Berkay Küçük Blog
                    </h1>
                    <p class="pt-10 pb-10">
                        Yazılımla ilgilenen kişilerin yazılarının paylaşılması amacıyla oluşturulmuş bir sitedir.Sitede ilgili kategoriler ile makale içeriklerine ulaşabilirsiniz.
                    </p>

                </div>
            </div>
        </div>
    </section>*@

<partial name="_SliderPartial"></partial>
<!-- End banner Area -->
<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Blog Yazıları</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                @foreach (var article in Model.ArticleListDto.Articles)
                {
                    <div class="single-popular-carusel">
                        <div class="thumb-wrap relative">
                            <div class="thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@article.Id">
                                    <img class="img-fluid" src="~/img/@article.Thumbnail" alt="">
                                </a>
                            </div>
                            <div class="meta d-flex justify-content-between">
                                <p style="color:black;font-weight:bold;">@article.CreateDate.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="details">
                            <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@article.Id">
                                <h4>
                                    @article.Title
                                </h4>
                            </a>
                            <p>
                                @if (article.Content.Length > 150)
                                {
                                    @article.Content.Substring(0, 150)}
                                else
                                {
                                    @article.Content}
                                ...
                            </p>
                        </div>
                        <a class="primary-btn text-uppercase mt-2" asp-controller="Article" asp-action="Detail" asp-route-articleId="@article.Id" type="button">Tümünü Gör</a>

                    </div>}

            </div>
        </div>
    </div>
</section>
<!-- End upcoming-event Area -->
<!-- Start cta-two Area -->
<section class="cta-two-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 cta-left">
                <h1 style="font-size:43px" >Fikirlerini Bizimle Paylaşmak İster Misin?</h1>
            </div>
            <div class="col-lg-4 cta-right">
                <a class="primary-btn wh" asp-controller="Home" asp-action="Contact">Bizimle İletişime Geç</a>
            </div>
        </div>
    </div>
</section>
<!-- End cta-two Area -->
<!-- start authors area-->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Yazarlarımız</h1>
                    <p>Blogumuzda yazı yazan yazarlar</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                @foreach (var user in Model.UserListDto.Users)
                {
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                            <a asp-controller="User" asp-action="Detail" asp-route-userId="@user.Id"> <img class="img-fluid" style="width:95%" src="~/img/@user.Picture" alt=""></a>
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p style="color: #f7631b; font-weight: bold;">@user.Email</p>
                            <a asp-controller="User" asp-action="Detail" asp-route-userId="@user.Id">
                                <h4>
                                    @user.FirstName @user.LastName
                                </h4>
                            </a>
                            <p>
                                @if (user.About.Length >= 400)
                                {
                                    @user.About.Substring(0, 400);
                                }
                                else
                                {
                                    @user.About;
                                }

                            </p>
                            @if (user.FacebookLink != null)
                            {
                                <span><a href="@user.FacebookLink"><i style="color:black;" class="fab fa-facebook fa-2x m-2"></i> </a></span>
                            }
                            @if (user.InstagramLink != null)
                            {
                                <span><a href="@user.InstagramLink"><i style="color:black;" class="fab fa-instagram-square fa-2x  m-2"></i> </a></span>
                            }
                            @if (user.TwitterLink != null)
                            {
                                <span><a href="@user.TwitterLink"><i style="color:black;" class="fab fa-twitter fa-2x  m-2"></i></a> </span>
                            }



                            <div class="col-12 col-md-6">



                            </div>
                            <a class="primary-btn text-uppercase mt-2" asp-controller="User" asp-action="Detail" asp-route-userId="@user.Id">Tümünü Gör</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    </div>
</section>
<!-- end of authors area-->
<!-- Start comments Area -->
<section class="review-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-5">Blog Yorumları</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-review-carusel">
                @foreach (var comment in Model.CommentListDto.Comments)
                {
                    <div class="single-review item">
                        <div class="title justify-content-start d-flex">
                            <a href="#"><h4>@comment.CreatedByName</h4></a>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                        <p>
                            @comment.Text
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End comments  Area -->
