@using ProgrammersBlog.Entities.Dtos
@model ProgrammersBlog.Mvc.Models.ArticleDetailViewModel
@{
    Layout = "_LayoutDetail";
    ViewBag.Title = Model.ArticleDto.Article.Title;
    ViewBag.Description = Model.ArticleDto.Article.SeoDescription;
    ViewBag.Author = Model.ArticleDto.Article.SeoAuthor;
    ViewBag.Tags = Model.ArticleDto.Article.SeoTags;
}
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    @Model.ArticleDto.Article.Title
                </h1>
                <p class="text-white link-nav"><a asp-controller="Home" asp-action="Index">Anasayfa </a>  <span class="lnr lnr-arrow-right"></span> <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@Model.ArticleDto.Article.Id">@Model.ArticleDto.Article.Title</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<section class="post-content-area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="rounded mx-auto d-block mb-3" src="~/img/@Model.ArticleDto.Article.Thumbnail" alt="" style="max-width:500px; max-height:500px">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 meta-details">
                      
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">@Model.ArticleDto.Article.Category.Name</a><span class="lnr lnr-bookmark"></span></p>
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">@Model.ArticleDetailRightSideBarViewModel.User.UserName</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a href="#">@Model.ArticleDto.Article.CreateDate.ToShortDateString()</a> <span class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a href="#">@Model.ArticleDto.Article.ViewsCount </a> <span class="lnr lnr-eye"></span></p>
                            <p class="comments col-lg-12 col-md-12 col-6"><a href="#">@Model.ArticleDto.Article.CommentsCount Yorum</a> <span class="lnr lnr-bubble"></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <h3 class="mt-20 mb-20">@Model.ArticleDto.Article.Title</h3>
                        <p class="excert">
                            @Model.ArticleDto.Article.Content
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            <h4>Not</h4>
                            <p>@Model.ArticleDto.Article.Note</p>
                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>Yorumlar</h4>
                    <div class="comment-list">
                        @foreach (var comment in Model.ArticleDto.Article.Comments)
                        {
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="~/img/@Model.ArticleDto.Article.Thumbnail"  alt="" style="width:90px; height:60px">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">@comment.CreatedByName</a></h5>
                                        <p class="date">@comment.CreateDate.ToShortDateString()</p>
                                        <p class="comment">
                                            @if (comment.Text.Length > 100)
                                            {
                                                @comment.Text.Substring(0, 100);
                                            }
                                            else
                                            {
                                                @comment.Text
                                            }
                                        </p>
                                    </div>
                                </div>                              
                            </div>
                        }

                    </div>
                </div>
                <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{ArticleId = Model.ArticleDto.Article.Id}" />
            </div>
            <div class="col-lg-4 sidebar-widgets">
                <partial name="_ArticleDetailRightSideBarPartial" model="@Model.ArticleDetailRightSideBarViewModel" />
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/BlogHome/articleDetail.js" type="text/ecmascript"></script>

}