@using ProgrammersBlog.Entities.Dtos
@model ProgrammersBlog.Mvc.Models.ArticleDetailViewModel
@{
    Layout = "_LayoutDetail";
    ViewBag.Title = Model.ArticleDto.Article.Title;
    ViewBag.Description = Model.ArticleDto.Article.SeoDescription;
    ViewBag.Author = Model.ArticleDto.Article.SeoAuthor;
    ViewBag.Tags = Model.ArticleDto.Article.SeoTags;
}
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Popular Courses
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="courses.html"> Popular Courses</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start course-details Area -->
<section class="course-details-area pt-120">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 left-contents">
                <div class="main-image">
                    <img class="img-fluid" src="~/img/@Model.ArticleDto.Article.Thumbnail" alt="" style="max-width:500px; max-height:500px">
                </div>
                <div class="jq-tab-wrapper" id="horizontalTab">
                    <div class="jq-tab-menu">
                        <div class="jq-tab-title active" data-tab="1">@Model.ArticleDto.Article.Title</div>
                        <div class="jq-tab-title" data-tab="4">Yorumlar</div>

                    </div>
                    <div class="jq-tab-content-wrapper">
                        <hr>
                        @Html.Raw(Model.ArticleDto.Article.Content)
                        <hr>
                        <div class="jq-tab-content comment-wrap" data-tab="4">
                            <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{ArticleId =  Model.ArticleDto.Article.Id}" />
                            <div class="comments-area" id="comments">
                                <h4>Yorumlar</h4>
                                @foreach (var comment in Model.ArticleDto.Article.Comments)
                                {
                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb">
                                                    <img src="~/img/userImages/defaultUser.png" style="max-width:50px; max-height:50px">
                                                </div>
                                                <div class="desc">
                                                    <h5>@comment.CreatedByName</h5>
                                                    <p class="date">@comment.CreateDate.ToShortDateString()</p>
                                                    <p class="comment">
                                                        @comment.Text
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <p>Yazar </p>
                        <span class="or">@Model.ArticleDto.Article.CreatedByName</span>
                    </li>
                    <li>
                        <p>Oluşturulma Tarihi</p>
                        <span>@Model.ArticleDto.Article.CreateDate.ToShortDateString()</span>
                    </li>
                    <li>
                        <p>Son Düzenlenme Tarihi </p>
                        <span>@Model.ArticleDto.Article.ModifiedDate.ToShortDateString()</span>
                    </li>
                    <li>
                        <p>Okunma Sayısı</p>
                        <span>@Model.ArticleDto.Article.ViewsCount</span>
                    </li>
                    <li>
                        <p>Yorum Sayısı</p>
                        <span>@Model.ArticleDto.Article.CommentsCount</span>
                    </li>
                    <li>
                        <p>Kategori</p>
                        <span>@Model.ArticleDto.Article.Category.Name</span>
                    </li>
                </ul>
                <partial name="_ArticleDetailRightSideBarPartial" model="@Model.ArticleDetailRightSideBarViewModel"></partial>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/BlogHome/articleDetail.js" type="text/ecmascript"></script>

}