@model ProgrammersBlog.Mvc.Models.RightSiteBarViewModel



@*<div class="single-sidebar-widget popular-post-widget">
    <div class="card text-center  mb-5 mt-5" style="background-color:#f7631b; color:white;font-size:20px; font-weight:bold">
        <div class="card-header">En Çok Okunan Makaleler</div>
    </div>
    <div class="popular-post-list">
        @foreach (var article in Model.Articles)
        {
            <div class="single-post-list d-flex flex-row align-items-center">
                <div class="thumb">
                    <img class="img-fluid" src="~/img/@article.Thumbnail" alt="">
                </div>
                <div class="details">
                    <a asp-controller="Article" asp-action="Detail" asp-route-articleId="@article.Id">@article.Title</a>
                    <p>@article.CreateDate.ToShortDateString()</p>
                </div>
            </div>
        }

    </div>
</div>*@

<div class="card text-center  mb-3 mt-5" style="background-color:#f7631b; color:white;font-size:20px; font-weight:bold">
    <div class="card-header">En Çok Okunan Makaleler</div>
</div>
@foreach (var article in Model.Articles)
{
<div class="card mb-3" >
    <div class="row no-gutters" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="col-md-4">
            <img class="img-fluid" src="~/img/@article.Thumbnail" alt="">
            <p class="card-text text-right"><small style="font-weight:bold; color:black">@article.CreateDate.ToShortDateString()</small></p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">
                    @if (article.Content.Length > 100)
                    {
                        @article.Content.Substring(0, 100)}
                    else
                    {
                        @article.Content}
                    ...
                </p>
               
                <a class="primary-btn text-uppercase" asp-controller="Article" asp-action="Detail" asp-route-articleId="@article.Id" type="button">Devamı...</a>
            </div>
        </div>
    </div>
</div>
}